body {
	font-family: "Helvetica", "Open sans", sans-serif;
	background-color: #fbfbfb;
}
h1 {
	font-family: "Times New Roman", serif;
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #323232;
}
#main-header {
	letter-spacing: -1px;
}
.welcome-text {
	line-height: 27px;
	letter-spacing: -0.5px;
}
a:focus, a:hover {
	text-decoration: none;
}
.post-header h1{
	letter-spacing: 0;
	text-align: center;
}

.site-bar .site-title {
	margin: 0 auto;
	padding-left: 15px;
}

.site-nav {
	position: relative;
}
.site-header {
	border-bottom: 1px solid lightgray;
	border-top: none;
	background: linear-gradient(#fbfbfb, #f7f7f7); 
}
.main-block {
	margin-top: 30px;
	margin-bottom: 50px;
}
.main-block p {
	font-size: 22px;
	font-family: "Times New Roman", serif;
}
.btn-custom {
	border: 1px solid #e0e0e0;
	background: linear-gradient(#fbfbfb, #f7f7f7);
	font-size: 18px;
}
.btn-custom:hover {
	background: #323232;
	color: white;
}
.btn-big {
	font-family: "Times New Roman", serif;
	font-size: 25px;
	font-style: italic;
}
@media all and (max-width: 500px) {
	.btn-big {
		font-size: 20px;
	}
}
.main-btn {
	padding: 0;
}
.main-btn a {
	vertical-align: middle;
	text-decoration: none;
	color: #323232;
	width: 100%;
}
.nav-link {
	font-weight: 600;
}
.site-title, .site-title:hover {
	font-style: normal;
	font-family: "Times New Roman", serif;
	font-size: 28px;
	letter-spacing: 0;
}
.index li a {
	font-style: normal;
}
.index li a:hover {
	background-color: #323232;
	color: white;
}