<!--footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

  </div>

</footer-->

<!--div class="row site-footer">

  <div class="col-xs-12">

	  <div class="row">

	    <div class="col-xs-12">
	      <ul>
	        <li>{{ site.title }}</li>
	        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
	      </ul>
	    </div>

	  </div>

  </div>

</div-->

	<!--div class="row footer-row">
		<div class="col-xs-12 text-center"><h6>Footer content</h6><p>bla bla bla</p></div>
	</div--><!--row-->
